body{
	/*font-family: 'Roboto', sans-serif;*/
}
.abc
{
margin-top: 50px;
}
.w-100
{
	
	height: 450px;
}
.image
{
	width: 260px;
	height: 250px;
}
.font
{
	font-size: 4.5rem;

}
.text1
{
	font-size: 2.5rem;

}

.button1
{
	margin-right: 30px;
	margin-left: 210px;
	border-radius: -5px;
}
/* css for detail*/
.img-thumbnail
{
	padding-bottom: 61px;

padding-top: 0px;

padding-left: 0px;

padding-right: 0px;

border-radius: 27px;
}

.img-thumbnail:hover

{
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rel-pos {
  position: relative;
}

.over-text {
  width: 100%;

position: absolute;

top: 194px;

text-align: center;

z-index: 10;

right: 27px;
}